@font-face {
    font-family: 'OrbitronLight';
    src: url('orbitron-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
input,
button {
    font-family: OrbitronLight,arial,sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: #33B5E5;
}

input[type="text"] {
    padding: 0.4em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    color: #33B5E5;
    background: black;
    border: 1px solid #33B5E5;
}

button {
    padding: 0.4em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: bold;
    color: #33B5E5;
    background: black;
    border: 1px solid #33B5E5;
}

button:hover {
    color: black;
    background: #33B5E5;
}

.screen {
    display: none;
    position: relative;
    height: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.screen-active {
    display: block;
}

#joingame-screen .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-top: -80px;
    margin-left: -116px;
    padding: 16px;
    border: 2px solid #33B5E5;
}

#joingame-screen label {
    display: block;
}

#joingame-screen input[type="text"] {
    width: 100%;
    margin-top: 0.2em;
    font-size: 1.2em;
}

#joingame-screen button {
    width: 100%;
    margin-top: 1em;
    font-size: 1.2em;
}

#game-screen .content {
    position: absolute;
    white-space: nowrap;
}

#players {
    position: relative;
    float: left;
    width: 200px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 5px;
    padding-bottom: 70px;
    border: 2px solid #33B5E5;
}

#players ul {
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

#players ul li {
    position: relative;
    margin: 0.7em;
}

#players .player-myself {
    font-weight: bold;
}

#players ul li .player-name {
    display: block;
    margin-right: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#players ul li .player-score {
    position: absolute;
    top: 0;
    right: 0;
}

#players .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.7em;
}

#players .buttons button {
    width: 100%;
}

#arena {
    border: 2px solid #33B5E5;
}

#error-screen .content {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

#error-message {
    display: inline-block;
    margin: 0 1em;
    padding: 1em;
    font-weight: bold;
    text-align: center;
    border: 2px solid #33B5E5;
}
