html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    font-family: arial,sans-serif;
    color: #33B5E5;
}

.game-screen {
    position: relative;
    height: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.game-content {
    position: absolute;
    white-space: nowrap;
}

#players {
    float: left;
    width: 200px;
    margin-right: 5px;
    border: 2px solid #33B5E5;
}

#players ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#players ul li {
    position: relative;
    margin: 0.7em;
}

#players ul li .player-name {
    display: block;
    margin-right: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#players ul li .player-score {
    position: absolute;
    top: 0;
    right: 0;
}

#arena {
    border: 2px solid #33B5E5;
}

.error-dlg-container {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

.error-dlg {
    display: inline-block;
    margin: 0 1em;
    padding: 1em;
    font-weight: bold;
    text-align: center;
    border: 2px solid #33B5E5;
}
