body,
input,
button {
    font-family: 'Electrolize',arial,sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: #33B5E5;
}

input[type="text"] {
    padding: 0.4em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    color: #33B5E5;
    background: black;
    border: 1px solid #33B5E5;
    border-radius: 0;
}

button {
    padding: 0.4em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: bold;
    color: #33B5E5;
    background: black;
    border: 1px solid #33B5E5;
}

button:hover {
    color: black;
    background: #33B5E5;
}

.screen {
    display: none;
    position: relative;
    height: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.screen-active {
    display: block;
}

#joingame-screen .content {
    position: absolute;
    width: 240px;
    padding: 16px;
    border: 2px solid #33B5E5;
}

#joingame-screen label {
    display: block;
}

#joingame-screen input[type="text"] {
    width: 100%;
    margin-top: 0.2em;
    font-size: 1.2em;
}

#joingame-screen button {
    width: 100%;
    margin-top: 1em;
    font-size: 1.2em;
}

#roomlist {
    margin-top: 2em;
}

#roomlist ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #33B5E5;
}

#roomlist ul li {
    position: relative;
}
#roomlist ul li:hover {
    background: #33B5E5;
}

#roomlist ul li a {
    color: #33B5E5;
    text-decoration: none;
}
#roomlist ul li a:hover {
    color: black;
}

#roomlist ul li .room-name {
    display: block;
    margin-right: 4em;
    padding: 0.8em 0 0.8em 0.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#roomlist ul li .room-player-count {
    position: absolute;
    top: 0.8em;
    right: 0.4em;
}
#game-screen .content {
    position: absolute;
    white-space: nowrap;
}

#players {
    position: relative;
    float: left;
    width: 200px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 5px;
    padding-bottom: 50px;
    border: 2px solid #33B5E5;
}

#players ul {
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

#players ul li {
    position: relative;
    margin: 0.35em;
}
#players ul li.hidden {
    display: none;
}

#players .player-myself {
    font-weight: bold;
}

#players .spectator {
    color: #888888;
}

#players ul li .player-name {
    display: block;
    margin-right: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#players ul li .player-rank {
    float: left;
    min-width: 1.5em;
    padding-right: 0.1em;
}

#players ul li .player-score {
    position: absolute;
    top: 0;
    right: 0;
}

#players .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.35em;;
}

#players .footer button {
    width: 100%;
    margin: 0;
}

#arena {
    border: 2px solid #33B5E5;
}

#sudden-death {
    position: absolute;
    display: none;
    opacity: 0;
}

#sudden-death.show {
    display: block;
    -webkit-animation-duration: 600ms;
            animation-duration: 600ms;
    -webkit-animation-name: show_sudden_death;
            animation-name: show_sudden_death;
}

@keyframes show_sudden_death {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes show_sudden_death {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
    }
}

#wait-screen .content,
#error-screen .content {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -30px;
    text-align: center;
}

#wait-message,
#error-message {
    display: inline-block;
    margin: 0 1em;
    padding: 1em;
    font-weight: bold;
    text-align: center;
    border: 2px solid #33B5E5;
}

#error-message {
    color: #FF4444;
    border-color: #FF4444;
}

#chat {
    position: relative;
    height: 2.5em;
    padding-bottom: 30px;
    border: 2px solid #33B5E5;
}

#chatlog {
    height: 100%;
    margin-left: 0.35em;
    overflow-y: scroll;
    font-size: 0.8em;
}

#chatlog>div {
    margin: 0.2em;
}

.servermsg {
    color: #888888;
}

#input-chatmsg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 80%;
    margin: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    outline: none;
}

#button-send-chatmsg {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 20%;
    border-bottom-width: 0;
    border-right-width: 0;
}
